@using Authentication.Helper
@model PaginatedList<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="btn btn-outline-light text-dark me-2" data-bs-toggle="modal"
               data-bs-target="#modalSearching" title="Searching Pets">
                <i class="bi bi-search"></i> Search
            </a>
            <a href="#" class="btn btn-outline-light text-dark" data-bs-toggle="modal"
               data-bs-target="#modalSorting" title="Sorting Pets">
                <i class="bi bi-arrow-down-up"></i> Sort
            </a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 mb-4">
            <div class="card">
                <img src="~/products/@(item.Id).jpg" class="card-img-top" alt="Product Image" style=" max-width: 100%; max-height: 250px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Id: @item.Id</h5>
                    <p class="card-text">Book Title: @item.Description</p>
                    <p class="card-text">Old price: <strike>@(item.Price.ToString("C2"))</strike></p>
                    <p class="card-text">New price: <span style="color:red;font-size:24px;">@((item.Price * (1 - item.Discount)).ToString("C2"))</span></p>
                    <p class="card-text">Discount: @item.Discount.ToString("P0")</p>
                    <p class="card-text">Category: @item.Category.Name</p>
                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("_NavigationButtons2")
@await Html.PartialAsync("_SortingDialog")
@await Html.PartialAsync("_SearchingDialog")
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".go").click(function () {
                var pageIndex = $("#page-index").val();
                var url = /?pageIndex=${pageIndex};
                $(this).attr("href", url);
            });
        });
    </script>
}